<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="background">
    <div class="form-wrapper">
      <h3>Welcome back!</h3>
      <div style="display: flex; width: 100%; flex-wrap: wrap; justify-content: center">
        <!-- email -->
        <div style="margin-bottom: .5em;">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName = "email" type="email" name="email" id="e2e-email"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
          </mat-form-field>
          <div *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required" class="form-error-message">Email is required.</div>
            <div *ngIf="f.email.errors.email" class="form-error-message">Email is not valid.</div>
          </div>
          <div *ngIf="serverError !== ''">
            <div *ngIf="serverError !== ''" class="form-error-message">{{serverError}}</div>
          </div>
        </div>
        <!-- password -->
        <div style="margin-bottom: .5em;">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName = "password" type="password" name="password" id="e2e-password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />
          </mat-form-field>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="form-error-message">Password is required.</div>
          </div>
        </div>
        <!-- submit button -->
        <div>
          <button mat-flat-button id="e2e-login-button" type="submit" color="primary" style="margin-top: 1em; width: 400px;font-size: 17px;padding: 8px;">Sign In</button>
        </div>
      </div>
    </div>
    <div class="login-instead">
      <h4>Or <a routerLink="/signup" style="text-decoration: none">click here</a> to create your free account.</h4>
    </div>
  </div>
</form>
