<div class="dashboard">
  <h2 *ngIf="userInfo" class="title">{{userInfo.firstName + " " + userInfo.lastName}}</h2>
  <div class="main-container">
    <div class="image-group">
      <div class="logo">
        <!--        Image and button-->
      </div>

      <div class="cover">
        <!--        Image and button-->
      </div>
    </div>

    <div>
      <h4>About</h4>
      <p>Write a header and a short text about the organisation. You can add more headers if you need to.</p>

      <form [formGroup]="profileForm" id="form" (ngSubmit)="onSubmit()">
        <div id="description-block">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Header</mat-label>
              <input id="input_header" matInput formControlName="header"/>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Body</mat-label>
              <textarea id="input_body" matInput formControlName="body"></textarea>
            </mat-form-field>
          </div>
        </div>

<!--        <button class="description-button" mat-raised-button (click)="addDescriptionBlock()">New Description Block-->
<!--        </button>-->

        <div>
          <h4>Contact Information</h4>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>E-mail</mat-label>
              <input class="readonly" id="input_email" matInput formControlName="email" readonly/>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Contact Person</mat-label>
              <input id="input_contact" matInput formControlName="contact"/>
            </mat-form-field>
          </div>
        </div>

        <button class="submit-button green-button" mat-raised-button color="primary" id="submit_button" type="submit">
          <div class="inside-button-container">
            <span>Save Changes</span>
            <span class="material-icons small-icon">library_books</span>
          </div>
        </button>
      </form>

    </div>
  </div>
</div>
