.dashboard {
  background-color: white;
  padding: 1rem 2rem;
  margin: 3rem 20rem 3rem 3rem;
  border-radius: 10px;
}

.main-container{
  padding-left: 16px;
  padding-bottom: 16px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#32305d;
}

.back-button{
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: auto;
  color: darkblue;
  text-decoration: none;
  font-max-size: xx-small;
  padding-left: 10px;
}

.form {
  background-color: white;
  padding: 20px;
  //margin-top: 40px;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 2px 3px #ccc;
  color: #303030;
  grid-area: 2 / 1 / 4 / 2;
}

.invites{
  grid-area: 3 / 2 / 4 / 3;
  width: 90%;
  padding:10px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 2px 3px #ccc;
  color: #303030;
}

mat-form-field {
  width: 100%;
}

#input_text {
  height: 150px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-button {
  background: #6325cf;
  color: white;
}

.delete-description {

}
