<div class="dashboard">
  <h2 class="title">Collaboration</h2>
  <div class="main-container">
    <h4>Invitations ({{getInvitationsLength()}})</h4>
      <div *ngFor="let post of getInvitations(); let i = index">
        <div class="dashboard-collabs" *ngIf="showMoreInvitations ? true : i<2">
          <div class="info-text">
            <span class="post-title">Post • {{post.title}}</span><br>
            <p class="post-date">{{post.author}} • {{post.createdDate}}</p><br>
            <p class="post-text">{{post.text}}</p>
          </div>
          <div>
            <button class="acceptBtn" (click)="acceptCollaboration(post)">Accept</button>
            <button class="declineBtn" (click)="removeCollaboration(post)">Decline</button>
          </div>
        </div>
      </div>
      <button class="showBtn1" (click)="showInvitations()" *ngIf="getInvitationsLength() > 2">
        {{showMoreInvitations ? 'Show less' : 'Show all'}}
      </button>
      <h4>Accepted Collaborations ({{getCollaborationsLength()}})</h4>
      <div *ngFor="let post of getCollaborations(); let i = index">
        <div class="dashboard-collabs" *ngIf="showMoreCollaborations ? true : i < 2">
          <div class="info-text">
            <span class="post-title">Post • {{post.title}}</span><br><br>
            <span class="post-date">{{post.author}} • {{post.createdDate}}</span><br>
            <p class="post-text" >{{post.text}}</p>
          </div>
          <div>
            <button class="declineBtn" (click)="removeCollaboration(post)">Remove</button>
          </div>
        </div>
      </div>
      <button class="showBtn2" (click)="showCollaborations()" *ngIf="getCollaborationsLength() > 2">
        {{showMoreCollaborations ? 'Show less' : 'Show all'}}
      </button>
  </div>
</div>
