<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="background">
    <div class="form-wrapper">
      <h3>Create your free account to grow your network</h3>
      <!-- username -->
      <!--      <div style="margin-bottom: .5em;">-->
      <!--        <mat-form-field appearance="fill">-->
      <!--          <mat-label>Username</mat-label>-->
      <!--          <input matInput formControlName = "username" type="text" name="username" placeholder="Username"-->
      <!--                 [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.username.errors }" required>-->
      <!--        </mat-form-field>-->
      <!--        <div *ngIf="submitted && f.username.errors">-->
      <!--          <div *ngIf="f.username.errors.required" class="form-error-message">Username is required.</div>-->
      <!--          <div *ngIf="f.username.errors.minlength" class="form-error-message">Username must be at least 6 characters.</div>-->
      <!--        </div>-->
      <!--      </div>-->

      <div style="display: flex; width: 100%; flex-wrap: wrap; justify-content: center">
        <!-- email -->
        <div style="margin-bottom: .5em;">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName = "email" type="email" name="email"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
          </mat-form-field>
          <div *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required" class="form-error-message">Email is required.</div>
            <div *ngIf="f.email.errors.email" class="form-error-message">Email is not valid.</div>
          </div>
          <div *ngIf="serverError !== ''">
            <div *ngIf="serverError !== ''" class="form-error-message">{{serverError}}</div>
          </div>
        </div>

        <!-- password -->
        <div style="margin-bottom: .5em;">
          <mat-form-field appearance="fill">
            <mat-label>Passsword</mat-label>
            <input matInput formControlName = "password" type="password" name="password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />
          </mat-form-field>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" class="form-error-message">Password is required.</div>
            <div *ngIf="f.password.errors.minlength" class="form-error-message">Password must be at least 6 characters.</div>
          </div>
        </div>

        <!-- retype password-->
        <div style="margin-bottom: .5em;">
          <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput formControlName = "retypePassword" type="password" name="password"
                   [ngClass]="{ 'is-invalid': submitted && f.retypePassword.errors }" required />
          </mat-form-field>
          <div *ngIf="submitted && f.retypePassword.errors" class="invalid-feedback">
            <div *ngIf="f.retypePassword.errors.required" class="form-error-message">Confirm password is required.</div>
            <div *ngIf="f.retypePassword.errors.mustMatch" class="form-error-message">Passwords must match.</div>
          </div>
        </div>

        <div style="margin-bottom: .5em;">
          <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName = "firstName" type="text" name="name"/>
          </mat-form-field>
        </div>

        <div style="margin-bottom: .5em;">
          <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput formControlName = "lastName" type="text" name="name"/>
          </mat-form-field>
        </div>



      </div>


      <div style="display: flex; justify-content: center; flex-wrap: wrap">
        <div style="font-size: small;padding-top: 1em;padding-bottom: 1em;">
        <mat-checkbox id="amateur" class="amateur" color="primary" formControlName="acceptTerms"
                      [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">
          I agree with the terms and conditions.
        </mat-checkbox>
        <div class="form-error-message" *ngIf="submitted && f.acceptTerms.errors">
          Accept terms and conditions is required.
        </div>
      </div>
        <button mat-flat-button type="submit" color="primary" style="margin-top: 1em; width: 400px;font-size: 17px;padding: 8px;">Get Started</button>
      </div>

    </div>
    <div class="login-instead">
      <h4>Already have an account? <a routerLink="/login">Sign in.</a></h4>
    </div>
  </div>
</form>

